name: First Workflow
on: workflow_dispatch
jobs:
  first-job:
    runs-on: ubuntu-latest
    steps:
      - name: Print Greeting
        run: echo "Hello,how are you ?"
      - name: Print Goodbye
        run: echo "I am good thanks for asking"
